.color-width {
	color: @white;
	font-weight: 700
}

.about__info-name {
	color: @blue;
	font-weight: 700;
	font-size: 28px;
}
.about__info-text {
	line-height: 1.5;
	font-family: @baseFont;
	margin: 0;
}
.about__info-skills {
	font-weight: 700;
	font-size: 24px;
	display: block;
	margin: 15px 0px 15px 0px;
}
.section-indikators {
	background: #222;
}
.indikators-block {

}
.indikators-title__text {
	margin: 0;
}
.list-specification {
	display: flex; 
	flex-direction: column; 
	justify-content: space-around; 
	margin-bottom: 61px;
	margin-top: 15px;
}
.indikators-text {
	margin: 0;
	color: @white;
}
.workflow {
	display: block;
	font-weight: 700;
}
.workflow__date {
	display: inline;
	font-family: @baseFont;
	color: rgba(0, 0, 0, 0.502);
	line-height: 1;
}
.workflow-info {
	margin: 20px 0 20px 0;
}