.contacts-edit {
	padding-top: 80px;
	padding-bottom: 120px;
	padding-left: 0;
	padding-right: 0;
}

.contacts-edit__title-text {
	margin: 0;
	padding-left: 15px;
	font-weight: 700;
	color: #222;
}

.contacts-edit__form {
	margin-top: 40px;
} 

.contacts-edit__form-button-save {
	margin-right: 20px;
	margin-left: 15px;
}
