footer.footer
	.container.footer__container
		.row
			.col-4.footer__copyright
				p © Юрий Ключевский
				p Создано с #[i(class="fas fa-heart")] в #[a(href="http://webcademy.ru/" class = "strong") WebCademy.ru] в 2017 году
			.col-2.offset-1.footer__nav
				a(href="#!") Главная
				a(href="#!") Обо мне
				a(href="#!") Работы
				a(href="#!") Блог
				a(href="#!") Контакты
			.col-4.offset-1.social
				+icon-font('https://www.youtube.com/?gl=RU&hl=ru', 'fab fa-vk')
				+icon-font('https://www.youtube.com/?gl=RU&hl=ru', 'fab fa-twitter')
				+icon-font('https://www.youtube.com/?gl=RU&hl=ru', 'fab fa-youtube')
				+icon-font('https://www.youtube.com/?gl=RU&hl=ru', 'fab fa-instagram')
				+icon-font('https://www.youtube.com/?gl=RU&hl=ru', 'fab fa-facebook-f')