.header-guest
	.row.header-guest__wrapper
		.logo
			.logo__img
			.logo__description--first Digital Lifestyle
			.logo__description--second Сайт IT специалиста
		.buttons-guest
			+buttons-guest('Зарегистрироваться', 'Войти')
	.row
		include ./navigation.pug

