.header
	.row.header__wrapper
		.logo
			.logo__img
			.logo__description--first Digital Lifestyle
			.logo__description--second Сайт IT специалиста
		.user-block
			+header-user-block()
	.row
		include ./navigation.pug

