.header
	.row.header__wrapper
		.logo
			.logo__img
			.logo__description--first Digital Lifestyle
			.logo__description--second Сайт IT специалиста
		.user-block
			+buttons-guest('Зарегистрироваться', 'Войти')
	.row
		include ./navigation.pug

