.main-wrapper
	h1 Сообщение от пользователя
	.fon-massage
		+button('Удалить', '#', 'delete').float-right.mt-20.mr-10
		.title-6.date-massage
			|22 Августа 2017
		.title-4
			|Джон До
			.title-6.mail-massage.ml-20 johndoe@gmail.com
		p.paragraph.text-massage
			|Привет, как дела?) наконец то написал тебе. Посмотри ТЗ нового проекта. Делаем стартап в B2B сфере, юриспуриденция, контракты, право. Инвестиции уже получены и нам нужен классный фронтэнд разработчик, как раз - такой как ты. Будет круто если сможешь поработать с нами.круто если сможешь поработать с нами.
		.title-4
			|Прикрепленные файлы:
			.title-6.file-massage.ml-10 Avrora-platform.pdf
