section.upload-file
    h6.upload-file__title Фотография
    p.upload-file__description Изображение jpg или png, размером больше чем 100х100 пикселей, и весом до 2Мб.
    +file('Выбрать файл','Файл не выбран','upload-file','upload-file', true)