//ButtonProfile

.button--profile{
	font-size: 13px;
	font-weight: 400;
	padding:7px 14px;
	background-color: @profileBg;
		&:hover,
		&:focus {
			background-color: @profileBgHover;
			color:@white;
		}
		&:active {
			background-color: @profileBgActive;
		}


}
//ButtonProfile Hover

.section-ui__hover{

	.button--profile{
		font-size: 13px;
		font-weight: 400;
		padding:7px 14px;
		background-color: @profileBgHover;
	}

}



//ButtonProfile Active

.section-ui__active{

	.button--profile{
		font-size: 13px;
		font-weight: 400;
		padding:7px 14px;
		background-color: @profileBgActive;
	}
}