// ButtonSmall

	.small{
		font-size: 14px;
		padding: 10px 20px;

	}

	.button-save.small{
		background-color: @blue;
		color:@white;
		border: 2px solid transparent;
	}
	.button-edit.small{
		background-color: @yellow;
		color:@white;
		border: 2px solid transparent;
	}
	.button-more.small{
		background-color:@white;
		color: @blue;
		border: 2px solid @gray;
	}

	.button-remove.small{
		background-color: @red;
		color:@white;
		border: 2px solid transparent;
	}




