mixin previousJob(date, title, description)
	.message-user.mb-20
		+button('Удалить', '#', 'delete').float-right
		.message-user__date.mb-20 #{date}
		.message-user-info
			span.message-user-info__name.strong #{title}
		p.message-user__text #{description}