//- Разные миксины по одному, которые понадобятся. Для логотипа, бейджа, и т.д.

mixin link(text,url)
    a(href= url class="link") #{text}

mixin postLink(text,url)
    a(href= url class="postlink") #{text}

mixin blogImg(img,alt)
    img(src="../../img/blog/post-img.jpg", altText = alt || '', alt=alt)