extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Редактировать - Технологии';
	- var pageClass = 'content-page';

block content
	include ../sections/header-admin.pug
	include ../sections/header-user.pug

	.content-exp-page
		.container
			.row
				.col-md-9.offset-md-1
					h1.title-1.mt-0.mb-35 Редактировать - Технологии
					form
						.row
							.col-md-3.mb-40
								.about-me-tech__input
									+input('html5','text','0','HTML5')
									p.percent %
							.col-md-3.mb-40
								.about-me-tech__input
									+input('css3','text','0','CSS3')
									p.percent %
							.col-md-3.mb-40
								.about-me-tech__input
									+input('js','text','0','JS')
									p.percent %
							.col-md-3.mb-40
								.about-me-tech__input
									+input('jquery','text','0','jQuery')
									p.percent %
							.col-md-3.mb-40
								.about-me-tech__input
									+input('php','text','0','PHP')
									p.percent %
							.col-md-3.mb-40
								.about-me-tech__input
									+input('mysql','text','0','MySql')
									p.percent %
							.col-md-3.mb-40
								.about-me-tech__input
									+input('git','text','0','Git')
									p.percent %
							.col-md-3.mb-40
								.about-me-tech__input
									+input('gulp','text','0','Gulp')
									p.percent %
							.col-md-3.mb-40
								.about-me-tech__input
									+input('bower','text','0','Bower')
									p.percent %
							.col-md-3.mb-40
								.about-me-tech__input
									+input('webpack','text','0','WebPack')
									p.percent %
							.col-md-3.mb-40
								+buttonSubmit('Сохранить', 'save-button', 'save')(class="mt-25")
							.col-md-3.mb-40
								+buttonSubmit('Отмена', 'cancel-button', 'cancel')(class="mt-25")

	include ../sections/footer.pug