extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Блог - добавить пост';
	- var pageClass = 'content-page';

block content
	.sticky-footer-wrapper
		include ../sections/header-admin.pug
		include ../sections/header-user.pug
		.container.pl-0.pr-0.pt-80.pb-120
			.row.m-0
				.col-12.p-0
					.add-post-content.col-10.offset-1.p-0
						h1 Добавить пост
						.add-post-content__name.mt-35
						+input('name','text','Введите имя','Поле для ввода', 'Название')
						.add-post-content__img.mb-30
						include ../sections/upload-file-no-img.pug
						.add-post-content__main.mb-35
						+textarea('Содержание поста','Введите город','','','Содержание')
						.add-post-content__submit.mb-35
						span.mr-30
							+buttonSubmit('Сохранить', 'save-button', 'save')
						span
							+buttonSubmit('Отмена', 'infoButton')
								
		include ../sections/footer.pug