extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Главная страница';
	- var pageClass= "index-page";

block content
	.container
		.title-1.text-center.mb-55 Проект команды WEBDEV-TEAM 05
		.row.mb-30
			.col
				.card.align-items-center.pb-35
					.title-2 UI-Kit
					+button("Перейти", "ui/ui-kit.html", 'primary')
			.col
				.card.align-items-center.pb-35
					.title-2 Главная страница
					+button("Перейти", "main.html",'primary')
		.row.mb-30
			.col
				.card.align-items-center.pb-35
					.title-2 Страница Вход
					+button("Перейти", "login.html",'primary')
		.row.mb-30
			.col
				.card.align-items-center.pb-35
					.title-2 Редактировать - Опыт работы
					+button("Перейти", "about-me-work-edit.html",'primary')
			.col
				.card.align-items-center.pb-35
					.title-2 Работы
					+button("Перейти", "works.html", 'primary')
