extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Главная';
	- var pageClass = 'content-page';

block content
	include ../sections/header-admin.pug
	include ../sections/header-guest.pug
	.about-me.container.section
		.wrapper-space-around
			.about-me__avatar.col-md-3
				+avatar('avatar.jpg', 'alt text avatar')
			.about-me__description.col-md-9
				h1.title-1.tite--blue Емельян Казаков
				p.paragraph.
					Я веб разработчик из Казани. Мне 28 лет. Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
				p.paragraph.
					Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
				h3.title-3 Что я умею
				p.paragraph.
					Меня привлекет Frontend разработка, это не только моя работа, но и хобби.Также знаком и могу решать не сложные задачи на Backend.
					Знаком и использую современный workflow, работаю с репозиториями git и сборкой проекта на gulp.
				.about-me__button
					+button('Подробнее', '#', 'primary')
	+horisontal-line()
	.new-works.container.section
		.row
			.col-md-12
				h1.title-1 Новые 
					span.title-1--underline работы
		.row
			.col-md-4
				+cardPortfolio('../img/blog/ui-portfolio-preview.jpg', 'Верстка Landing Page', '#')
			.col-md-4
				+cardPortfolio('../img/blog/ui-portfolio-preview.jpg', 'Верстка Landing Page', '#')
			.col-md-4
				+cardPortfolio('../img/blog/ui-portfolio-preview.jpg', 'Верстка Landing Page', '#')
	.blog-entries.container.section
		.row
			.col-md-12
				h1.title-1 Новые записи в 
					span.title-1--underline блоге
		.row
			.col-md-4
				+cardBlog('../img/blog/ui-blog-preview.jpg', 'Поездка в New York пример длинного названия поста...', '#')
			.col-md-4
				+cardBlog('../img/blog/ui-blog-preview.jpg', 'Поездка в New York пример длинного названия поста...', '#')
			.col-md-4
				+cardBlog('../img/blog/ui-blog-preview.jpg', 'Поездка в New York пример длинного названия поста...', '#')
	include ../sections/footer.pug



