.left-panel.blue-skin

    .left-panel__section
        .title-2 UI-KIT и PUG фреймворк
    .left-panel__section
        p.strong Документация
        .left-panel-nav
            +linkLeftPanel("Документация", "docs.html")
            +linkLeftPanel("Оформление кода", "docs-codestyle.html")
            +linkLeftPanel("Работа со стилями", "docs-styleguide.html")
            +linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")
    .left-panel__section
        p.strong Элементы форм
        .left-panel-nav
            +linkLeftPanel("Кнопки", "buttons.html")
            +linkLeftPanel("Чекбоксы", "checkbox.html")
            +linkLeftPanel("Поля ввода", "input-fields.html")
            +linkLeftPanel("Радиокнопки", "radio-buttons.html")

    //- Тут будут ссылки на блоки
    .left-panel__section
        p.strong Блоки
        .left-panel-nav
            +linkLeftPanel("Аватарки", "avatars.html")
            +linkLeftPanel("Бейдж", "badge.html")
            +linkLeftPanel("Типографика", "typography.html")
            +linkLeftPanel("Нотификации", "notifications.html")
            
    //- Тут будут ссылки на секции
    .left-panel__section
        p.strong Секции
        .left-panel-nav
            +linkLeftPanel("Комментарий - зарегистрироваться", "comments-unregistered.html")
            +linkLeftPanel("Индикаторы SVG", "indicators.html")
            +linkLeftPanel("Карточки", "cards.html")
            +linkLeftPanel("Комментарий - форма отправки", "comments-submit.html")


    //- Тут будут ссылки на страницы
    //- .left-panel__section
    //- 	p.strong Страницы
    //- 	.left-panel-nav
