extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Редактировать - Опыт работы - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Редактировать - Опыт работы
			
			.section-ui
				include ../../sections/header-admin.pug
				include ../../sections/header-user.pug

				.content-padding
					.container
						.row.justify-content-center
							.col-md-10
								h1.title-1 Редактировать - Опыт работы
								+previousJob(
									'Февраль 2017 - по настоящее время',
									'Frontend разработчик, Вконтактe, mail.ru group',
									'Работы в команде Вконтакте. Работал в команде над обновление сервиса Музыка, работа над видео разделом. Создание видеоплеера. Создание кроссбраузерных компонентов. Работа над оптимизацией скорости загрузки медиа контента.'
								)
								+previousJob(
									'Февраль 2017 - по настоящее время',
									'Frontend разработчик, Вконтактe, mail.ru group',
									'Работы в команде Вконтакте. Работал в команде над обновление сервиса Музыка, работа над видео разделом. Создание видеоплеера. Создание кроссбраузерных компонентов. Работа над оптимизацией скорости загрузки медиа контента.'
								)
								h2.title-2 Добавить новое место
								.about-me-edit-form
									+input('date','text','Введите даты начала и окончания работы','Период')
									+input('job-name','text','Введите название должности','Название должности')
									+textarea('description','Напишите интересное краткое содержательное описание','','Описание работы, должностные обязанности, достигнутые результаты')
									+buttonSubmit('Добавить', 'save-button', 'save')

				include ../../sections/footer.pug
			
			.title pages/about-me-work-edit.pug
			pre.
				.content-padding
					.container
						.row.justify-content-center
							.col-md-10
								h1.title-1 Редактировать - Опыт работы
								+previousJob(
									'Февраль 2017 - по настоящее время',
									'Frontend разработчик, Вконтактe, mail.ru group',
									'Работы в команде Вконтакте. Работал в команде над обновление сервиса Музыка, работа над видео разделом. Создание видеоплеера. Создание кроссбраузерных компонентов. Работа над оптимизацией скорости загрузки медиа контента.'
								)
								+previousJob(
									'Февраль 2017 - по настоящее время',
									'Frontend разработчик, Вконтактe, mail.ru group',
									'Работы в команде Вконтакте. Работал в команде над обновление сервиса Музыка, работа над видео разделом. Создание видеоплеера. Создание кроссбраузерных компонентов. Работа над оптимизацией скорости загрузки медиа контента.'
								)
								h2.title-2 Добавить новое место
								.about-me-edit-form
									+input('date','text','Введите даты начала и окончания работы','Период')
									+input('job-name','text','Введите название должности','Название должности')
									+textarea('description','Напишите интересное краткое содержательное описание','','Описание работы, должностные обязанности, достигнутые результаты')
									+buttonSubmit('Добавить', 'save-button', 'save')
			p.
				Миксин принимает 3 параметра: date - дата работы на данной должности (с какой и по какую дату)
				, title - название должности, description - описание должности.
			.title mixins/about-me.pug
			pre.
				mixin previousJob(date, title, description)
					.message-user.mb-20
						+button('Удалить', '#', 'delete').float-right
						.message-user__date.mb-20 \#{date}
						.message-user-info
							span.message-user-info__name.strong \#{title}
						p.message-user__text \#{description}