extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Блог - добавить пост';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35.pb-40
			h1 Блог - добавить пост

			.section-ui
				include ../add-post.pug
			
			.title pages/add-post.pug
			pre.
				.container.pl-0.pr-0.pt-80.pb-120
					.row.m-0
						.col-12.p-0
							.add-post-content.col-10.offset-1.p-0
								h1.add-post-content__title Добавить пост
								.add-post-content__name.mt-35
									+input('name','text','Введите имя','Поле для ввода', 'Название')
								.add-post-content__img.mt-30
									+upload-file-no-img("Изображение", "изображение и параметры 945px и больше, высота от 400px")
								.add-post-content__main.mt-30
									+textarea('Содержание поста','Введите город','','','Содержание')
								.add-post-content__submit.mt-30
									span.mr-20
										+buttonSubmit('Сохранить', 'save-button', 'save')
									span
										+buttonSubmit('Отмена', 'infoButton')