extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Страница для поста с блогом';
	- var pageClass = 'body--dashboard';

block content
		.container.container--left.user-content.pt-35
			include ../../sections/post-blog.pug