extends ../../layouts/ui-layout/ui-layout.pug

block variables
    - var title = 'Страница для поста с блогом - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content
    .main-wrapper
        .container.container--left.user-content.pt-35
            h1 Страница поста в блоге
            .section-ui
                include ../../sections/header-admin.pug
                include ../../sections/header-guest.pug
                .blog-post__section
                    .blog-post__section--top
                        +buttonSubmit('Редактировать', 'edit-button', 'edit')
                    include ../../sections/blog-post-page.pug
                .blog-post__section
                    .post  
                        .row
                            .col-10
                                .blog-post__section--bottom
                                    +buttonWithIcon('Назад', '#', 'fa-arrow-left', 'previous', 'left')
                                    +buttonWithIcon('Вперед', '#', 'fa-arrow-right', 'next', 'right')
                                .blog-post__section--comments 
                                    include ../../sections/user-comments.pug
                                .blog-post__section--form
                                    include ../../sections/comments-submit.pug
                    .blog-post__section--footer
                        include ../../sections/footer.pug 