extends ../../layouts/ui-layout/ui-layout.pug

block variables
    - var title = 'Загрузка файла - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content
    .main-wrapper
        .container.container--left.user-content.pt-35
        .title-1 Загрузка файла
        .section-ui
            +file('Выбрать файл','fileUpload','fileUpload',false)
            +file('Выбрать файл','fileUpload-1','fileUpload-1',true)
            fildset
                input(type="file" name="fileDownload" id="fileDownload" class="input-file" data-multiple-caption="{count} файлов выбрано")
                label(class="input-file-mark" for="fileDownload") Выбрать файл
                span
        pre.
            +avatar('avatar.jpg', 'alt text avatar')
            +avatar('avatar.jpg', 'alt text avatar', 'small')
        .title-2 mixins/_avatars.pug
        pre.
            mixin avatar(avatar, altText, mode)
                - altTxt = altText || ''
                if mode == "small"
                    .avatar(class='avatar--small')
                        img(src="../img/avatars/" + avatar, alt=altTxt)
                else
                    .avatar
                        img(src="../img/avatars/" + avatar, alt=altTxt)