extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Поля ввода - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Поля ввода
			.section-ui
				+input('Поле для ввода','Введите имя',1)
			pre.
				+input('Поле для ввода','Введите имя',1)
			
			.title mixins/_input.pug
			pre.
				mixin input(labelText,placeholder,indNew)
					label.label labelText
						if indNew
							input.input.indNew(type="text" placeholder=placeholder)
						else
							input.input(type="text" placeholder=placeholder)
							

			.section-ui
				+textarea('Сообщение - Textarea','Парк находится в горах Сьерра-Невада на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км.',0)
			pre.
				+textarea('Сообщение - Textarea','Парк находится в горах Сьерра-Невада на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км.',0)
			
			.title mixins/_textarea.pug
			pre.
				mixin textarea(labelText,placeholder,indNew)
					label.label labelText
						if indNew
							textarea.textarea.indNew(placeholder=placeholder)
						else
							textarea.textarea(placeholder=placeholder)

			p Поля для ввода input и textarea используются для форм ввода новой информации и форм редактирования данных. Для форм ввода  необходимо передать параметр indNew, равный 1 (единица). Для редактирования полей - передать параметр indNew, равный 0 (ноль).
			p Параметры: labelText - текст в теге Label, placeholder - текст в теге input, indNew - служебный флаг (1 для форм ввода, 0 для форм редактирования).
