extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Сообщение от пользователя - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-28
			h1 Сообщение от пользователя
			
			.section-ui
				include ../../sections/massage-user.pug


			pre.
				include ../../sections/massage-user.pug
			
			p.
				
			.title-1 sections/sections/massage.pug.pug
			pre.
				.sections/massage-user.pug
					