extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Нотификации - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.pt-35
			h1 Нотификации
			
			.section-ui
				h2.mt-30.mb-20 Простая нотификация
				+notification('', 'Информация обновлена')
				
				h2.mt-30.mb-20 Нотификация успех
				+notification('success', 'Запись создана успешно!')

				h2.mt-30.mb-20 Нотификация ошибка
				+notification('error', 'Комментарий не может быть пустым')
				.mb-20

				+notification('error', 'Данный email уже занят')
					p.
						Используйте другой email чтобы создать новый аккаунт.
					p.
						Или воспользуйтесь #[a(href="#") восстановлением пароля], чтобы войти на сайт.
			pre.
				+notification('', 'Информация обновлена')

				+notification('success', 'Запись создана успешно!')

				+notification('error', 'Комментарий не может быть пустым')

				+notification('error', 'Данный email уже занят')
					p.
						Используйте другой email чтобы создать новый аккаунт.
					p.
						Или воспользуйтесь #[a(href="#") восстановлением пароля], чтобы войти на сайт.
				
			.title mixins/_notifications.pug
			pre.
				mixin notification(modifier, message)
					div(class="notification notification--" + modifier)
						div(class="notification__message") #{message}
						if block
							.notification__prompt
								block
						else
							